@charset "UTF-8";

img {
	position:relative;
	top:-6px;
}

.upmain {
	justify-content:center; /* 中央寄せ */
	margin-right: 20px;
}
.upmain2 {
	display: flex;
	position:relative;
	left:300px;
}

.upmain2name {
	position:relative;
	top:-95px;
	font-weight: bold;
}

.task_management{
	padding: 35px;
	margin: 0.5em ;
	font-weight: bold;
	color: #5c5c5c;/*文字色*/
    background: #FFF;
    border: solid 1px #5c5c5c;/*線*/
    border-radius: 50px;/*角の丸み*/
}

.centername {
	  	 position:relative;
	left:0px;
	top:-20px;
}

.expense_management {
	padding: 35px;
	margin: 0.5em ;
	font-weight: bold;
	color: #5c5c5c;/*文字色*/
    background: #FFF;
    border: solid 1px #5c5c5c;/*線*/
    border-radius: 50px;/*角の丸み*/
}
.item_management {
	padding: 35px;
	margin: 0.5em ;
	font-weight: bold;
	color: #5c5c5c;/*文字色*/
    background: #FFF;
    border: solid 1px #5c5c5c;/*線*/
    border-radius: 50px;/*角の丸み*/
}

.calender {
	flex-direction:colum;
	justify-content:center;
	padding: 0.1em 3em;
	margin: 0.5em;
	font-weight: bold;
	color: #5c5c5c;/*文字色*/
    background: #FFF;
    border: solid 1px #5c5c5c;/*線*/
    border-radius: 50px;/*角の丸み*/
    width:200px;
    position:relative;
	left:880px;
	top:-300px;
}

.board {
	padding: 0.1em 3em;
	margin: 1em ;
	font-weight: bold;
	color: #5c5c5c;/*文字色*/
    background: #FFF;
    border: solid 1px #5c5c5c;/*線*/
    border-radius: 50px;/*角の丸み*/
    width:200px;
    position:relative;
	left:869px;
	top:-315px;
}
.member {
	padding: 2.5em 1em;
	margin: 1em;
	font-weight: bold;
	color: #5c5c5c;/*文字色*/
    background: #FFF;
    border: solid 1px #5c5c5c;/*線*/
    border-radius: 50px;/*角の丸み*/
}
p#member{
	position:relative;
	top:-50px;
}
.item {
	padding: 0.8em 2em;
	margin: 0.3em;
	font-weight: bold;
	color: #5c5c5c;/*文字色*/
    background: #FFF;
    border: solid 1px #5c5c5c;/*線*/
    border-radius: 50px;/*角の丸み*/
}
.todo_list {
	padding: 0.8em 5.5em;
	margin: 1em;
	font-weight: bold;
	color: #5c5c5c;/*文字色*/
    background: #FFF;
    border: solid 1px #5c5c5c;/*線*/
    border-radius: 50px;/*角の丸み*/
}
.all_expense {
	padding: 0.8em 6em;
	margin: 0.5em;
	font-weight: bold;
	color: #5c5c5c;/*文字色*/
    background: #FFF;
    border: solid 1px #5c5c5c;/*線*/
    border-radius: 50px;/*角の丸み*/
}
.event {
	padding: 0.8em 6em;
	margin: 0.5em;
	font-weight: bold;
	color: #5c5c5c;/*文字色*/
    background: #FFF;
    border: solid 1px #5c5c5c;/*線*/
    border-radius: 50px;/*角の丸み*/
}

.centermain {
  display: flex;
  justify-content: center; /* 中央寄せ */
  position:relative;
	left:15px;
	top:-350px;
}

.downmain {
   	 position:relative;
	left:15px;
	top:-355px;
}
.downname {
	position:relative;
	top:-20px;
}