@charset "UTF-8";

body{
	margin: 0;
	background-color: #f1f8e8;
	text-align: center;
	font-size: 25px;
	color: #5c5c5c;
}

.header {
	 display: flex;
 	 width: 100%;
 	 height: 150px;
 	 color: #e8ffdd;
 	 background-color: #559588;
 	 align-items: center;


	/*ヘッダー固定*/
 	 position: fixed;
 	 z-index: 999;
 	 top: 0;
 	 left: 0;
 	 padding: 20px 40px;
 	 box-sizing: border-box;
	 margin-top: 0;
	 text-align: right;
	 background-color: #559588;
	 height: 150px;
}

header a,
header a:visited {
	text-decoration:none;
	color: #e8ffdd;
}
nav a,
nav a:visited{
	color:#D46934;
}


.three {
	justify-content: flex-end;
	display: flex;
}

.hamburger {
	position: fixed;
	top: 10px;
	right: 10px;

}

label {
	display: inline-block;
	width: 25px;
	height: 22px;
	text-align:right;
	background-clip: text;
	background-color:white;
	padding: 10px 5px 10px 5px;
}
/* いらない
.menu-content{
	position:fixed;
	top: 50px;
	right: 0;
	z-index: 99;
	width: 90%;
	height: 100%;
	transform: translateX(-120%);
}

ul {
	padding-left: 0;
}

li {
	list-style: none;
}
*/
.menu-btn {
    position: fixed;
    top: 10px;
    right: 10px;
    display: flex;
    height: 60px;
    width: 60px;
    justify-content: center;
    align-items: center;
    z-index: 90;
    background-color: black;
}
.menu-btn span,
.menu-btn span:before,
.menu-btn span:after {
    content: '';
    display: block;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    background-color: black;
    position: absolute;
}
.menu-btn span:before {
    bottom: 8px;
}
.menu-btn span:after {
    top: 8px;
}
#check:checked ~ .menu-btn span {
    background-color: rgba(255, 255, 255, 0);/*メニューオープン時は真ん中の線を透明にする*/
}
#check:checked ~ .menu-btn span::before {
    bottom: 0;
    transform: rotate(45deg);
}
#check:checked ~ .menu-btn span::after {
    top: 0;
    transform: rotate(-45deg);
}


#check {
    display: none;

}

.menu-content ul {
    padding: 70px 10px 0;
	 text-align:center;
}
.menu-content ul li {
    border-bottom: solid 1px #ffffff;
    list-style: none;
     text-align:center;

}
.menu-content ul li a {
    display: block;
    width: 100%;
    font-size: 15px;
    box-sizing: border-box;
    color:#ffffff;
    text-decoration: none;
    padding: 9px 15px 10px 0;
    position: relative;
    text-align:center;
}
.menu-content ul li a::before {
    content: "";
    width: 7px;
    height: 7px;
    border-top: solid 2px #ffffff;
    border-right: solid 2px #ffffff;
    transform: rotate(45deg);
    position: absolute;
    right: 11px;
    top: 16px;
}

.menu-content {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 100%;/*leftの値を変更してメニューを画面外へ*/
    z-index: 80;
    background-color:#559588;
    transition: all 0.5s;/*アニメーション設定*/
}

#check:checked ~ .menu-content {
    left: 0;/*メニューを画面内へ*/
}

main {
  margin-top: 150px; /* 上の空白を150pxに指定 */
}

input[type = "submit"] {
	width: 200px;
	background-color: #559588;
	border-radius: 100px;
	color: #e8ffdd;
	font-size:30px;
	margin:0.7em;
}

input[type = "button"] {
	width: 40px;
	background-color: #ffffff;
	border-radius: 100px;
}

input[type = "text"] {
	border-radius: 20px;
	width: 200px;
	height: 30px;
}

input[type = "password"] {
	border-radius: 20px;
	width: 200px;
	height: 30px;
}


table {
	margin: auto;
}

.footer {
	background-color: #559588;
	height: 80px;
}


